---
import ExperienceItem from "./ExperienceItem.astro";
import {getLangFromUrl, Translate} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translate = new Translate(lang);
const translations = translate.get("experience");
const EXPERIENCE = [
  {
    date: `${translations?.experience[0].date}`,
    title: "Custom Software Engineering Associate",
    company: "Accenture",
    description: `${translations?.experience[0].description}`,
    link: `${translations?.experience[0].link}`,
  },
  {
    date: `${translations?.experience[1].date}`,
    title: `${translations?.experience[1].title}`,
    company: `${translations?.experience[1].company}`,
    description: `${translations?.experience[1].description}`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
