---
import ExperienceItem from "./ExperienceItem.astro";
import {getLangFromUrl, Translate} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translate = new Translate(lang);
const translations = translate.get("experience");
const EXPERIENCIE = [
  {
    date: `${translations?.date1}`,
    title: "Custom Software Engineering Associate",
    company: "Accenture",
    description: `${translations?.description1}`,
    link: `${translations?.link1}`,
  },
  {
    date: `${translations?.date2}`,
    title: `${translations?.title2}`,
    company: `${translations?.company2}`,
    description: `${translations?.description2}`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
