---
import ThemeToggle from "./ThemeToggle.astro";
import LanguageToggle from "./LanguageToggle.astro";
import {getLangFromUrl, useTranslations} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const getNavLabel = () => {
  return lang === "en"
    ? t("experience").split(" ")[1]
    : t("experience").split(" ")[0];
};
const navItems = [
  {
    title: `${getNavLabel()}`,
    label: `${t("experience")}`,
    url: `/${lang}/#${t("experience")}`,
  },
  {
    title: `${t("projects")}`,
    label: `${t("projects")}`,
    url: `/${lang}/#${t("projects")}`,
  },
  {
    title: `${t("about")}`,
    label: `${t("about")}`,
    url: `/${lang}/#${t("about")}`,
  },
  {
    title: `${t("hero.contact")}`,
    label: `${t("hero.contact")}`,
    url: "mailto:juliant908@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-100 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 text-xs md:text-sm py-2 transition hover:text-yellow-300 dark:hover:text-yellow-300"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
  <LanguageToggle />
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");
    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-yellow-300/80");
            } else {
              item.classList.remove("text-yellow-300/80");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-gray-500/50 ring-white/10;
    }
  }
</style>
