---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Angular from "./icons/Angular.astro";
import React from "./icons/React.astro";
import Svelte from "./icons/Svelte.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavascriptIcon from "./icons/Javascript.astro";
import {getLangFromUrl, useTranslations} from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-red-700 text-white",
    icon: Angular,
  },
  REACT: {
    name: "React",
    class: "bg-blue-600 text-white",
    icon: React,
  },
  SVELTE: {
    name: "Svelte",
    class: "bg-[#ff3e00] text-white",
    icon: Svelte,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#757575] text-white",
    icon: AstroIcon,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#DBC200] text-white",
    icon: JavascriptIcon,
  },
};
const PROJECTS = [
  {
    title: `${t("projects1.title")}`,
    description: `${t("projects1.description")}`,
    link: "https://spotify-react-eight.vercel.app/",
    github: "https://github.com/juliant908/spotify",
    image: "/projects/spotify-clone.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.ANGULAR],
  },
  {
    title: `${t("projects2.title")}`,
    description: `${t("projects2.description")}`,
    link: "https://digital-menu-tba.netlify.app/home?restaurant=la-cueva-de-la-rata",
    image: "/projects/menuDG.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.ANGULAR],
  },
  {
    title: `${t("projects3.title")}`,
    description: `${t("projects3.description")}`,
    link: "https://coltropicos.com/",
    image: "/projects/coltropicosHomePage.png",
    tags: [TAGS.SVELTE, TAGS.TAILWIND, TAGS.ASTRO],
  },
  {
    title: `${t("projects4.title")}`,
    description: `${t("projects4.description")}`,
    link: "https://tailwind-animations-website.vercel.app/",
    github: "https://github.com/juliant908/amazing-tailwind-animations",
    image: "/projects/Tailwind-animations.png",
    tags: [TAGS.TAILWIND, TAGS.ASTRO, TAGS.JAVASCRIPT],
  },
  {
    title: `${t("projects5.title")}`,
    description: `${t("projects5.description")}`,
    link: "https://imdb-redesign-juliant908.netlify.app/",
    github: "https://github.com/juliant908/imdb-redesign",
    image: "/projects/IMDb.png",
    tags: [TAGS.TAILWIND, TAGS.ANGULAR],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({image, title, description, tags, link, github}) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 aspect-video"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-50 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-100 dark:text-gray-50">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
